<?php

/**
 * Drush aliases for {{ item.drush_alias_file_prefix | default(inventory_hostname) }}.
 *
 * @see example.aliases.drushrc.php.
 */

// Ansible may insert alias declarations for local, dev, stage, and prod below.
