# OS-specific files.
.DS_Store

# Editor and language files.
.idea/
.project/
.bundle/
.buildpath
.settings/

# Ansible files.
*.retry
.galaxy_install_info

# Vagrant files.
.vagrant/
vagrant_ansible_inventory_default

# Drupal VM specific files.
local.config.yml
Vagrantfile.local
# /config.yml
/docker-compose.yml
/drupal.make.yml
/scripts/
/drupal/

# Some roles include 'config.yml' files.
!provisioning/roles/**/config.yml

# Test playbooks
provisioning/test-*.yml

/node_modules/
/bower_components/

# Misc
/drushrc.php
/LOCAL_*/
pytestdebug.log
