extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    max: 160
    level: warning
  # Allow ansible truthy values.
  truthy: disable
  document-start: disable
