##########################################################################################
# The section between "ANSIBLE MANAGED BLOCK" markers is managed automatically.
# Changes to this section will be overwritten.
##########################################################################################
# Include .bashrc.
if [ -f "$HOME/.bashrc" ] ; then
  source $HOME/.bashrc
fi
